h1{
    color: rgb(183, 0, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
    /*{border:solid rgb(255, 127, 148) ;}*/
    .header{
        /*background-color: rgb(255, 238, 0);*/
        display: flex;
        justify-content: center;

    }
    .grid{
        background-color: rgb(255, 238, 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .footer{
     background-color: #202020;
        display: flex;
        justify-content: flex-end;
    }
    .description{
        background-color: #FFEE00;
        display: flex;
        justify-content: center;
    }
    .menu{
        background-color: #FFEE00;
        display: flex;
        justify-content: center;
    }
    p,h2{
        text-align: center; background: rgb(255, 238, 0);font-family: cursive; color:rgb(183, 0, 255) ;
    }

body{
    background-color: #808080;
}